<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
<div class="tw-toggle">
    <input type="radio" name="toggle" value="false">
    <label class="toggle toggle-yes">{{ 'label.notes'|trans }}</label>
    <input checked type="radio" name="toggle" value="-1">
    <label class="toggle toggle-yes">{{ 'label.to-do_list'|trans }}</label>
    <input type="radio" name="toggle" value="true">
    <label class="toggle toggle-yes">{{ 'label.category_manager'|trans }}</label>
    <span></span>
</div>